@charset "utf-8";


/*
    Asignment Name: Registration Form
    Author: Jessica hite
    Date: 11/04/2023

    Filename:styes.css
*/

/* Body Styles */
body {
    background-color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.container {
    margin: auto;
    width: 80%;
    background: linear-gradient(to right, rgba(255, 174, 0, 0.797), rgba(255, 85, 0, 0.57));
    padding: 25px;
    border-radius: 5px;
    margin-top: 5%;
    padding-bottom: 40px;
}
/* Heading Styles */
h2 {
    font-size: 2em;
    color: rgb(92, 28, 28);
}
legend {
    font-size: 1.2em;
}

.int {
    padding-left: 10%;
    font-size: 2.5em;
}
/* Form Styles */

.labnam {
    display: block;
    padding-bottom: 5px;
    position: relative;
}

.name {
    position: absolute;
    left: 15%;
    width: 60%;
}

.submit {
    width: 15%;
    padding: 5px;
    float: right;
}

#day {
    max-width: 30px;
    position: initial;
}

