@charset "utf-8";


/*
    Asignment Name: Registration Form
    Author: Jessica hite
    Date: 11/04/2023

    Filename:styes.css
*/

/* Body Styles */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: antiquewhite;
    
}
.container {
    margin: auto;
    width: 80%;
    background: linear-gradient(to right, rgb(255, 174, 0), rgba(255, 85, 0, 0.57));
    padding: 25px;
    border-radius: 5px;
    margin-top: 5%;
}
/* Heading Styles */
h2 {
    font-size: 2em;
    color: rgb(92, 28, 28);
}
legend {
    font-size: 1.2em;
}
/* Form Styles */

label {
    display: block;
    padding-bottom: 5px;
    position: relative;
}

input {
    position: absolute;
    left: 15%;
    width: 60%;
}

.submit {
    width: initial;
}